* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body { 
    font-family: Arial; 
}

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #c71f57;
    padding: 20px; 
}

h1 {
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: #fff;
    font-style: italic;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

#productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  padding: 20px;
  width: 100%;
  margin-top: 20px;
  display: none;
}

#productList.show {
  display: grid;
}

.product-item {
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 10px;
  text-align: center;
  background: #fff;
}

.product {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

.product img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  border-radius: 8px;
}

.product-name {
  margin: 10px 0;
  font-weight: bold;
  font-size: 18px;
}

.product-price {
  color: green;
  font-size: 17px;
}

.result-product {
  padding: 18px;
  border: 2px solid #ffb6d9;
  border-radius: 14px;
  background: #fff0f7;
  box-shadow: 0 4px 10px rgba(255,182,217,0.4);
  transition: 0.3s ease;
}

.result-product:hover {
  transform: translateY(-5px);
}


